body { text-align: center; min-width: 760px; }

#container { text-align: left; }

* html { overflow-x: hidden; } /* IE6 fix */

#header h1 { margin-top: 0.75em; }

#map-form input { border: none; outline: none; }

.submit-button {
	border: 1px solid #999 !important;
	background-color: #ddd !important;
}

p.list { display: inline !important; }