/* !Map Styles for large map */
@import url('map.css');

.wrap { max-width: 1500px; }
#content .wrap { width: 1500px; }

dl.map_lwc {
  background: url(../images/map_lwc_large.png) no-repeat;
  width: 1420px;
  height: 950px;
}

dl.map_lec {
  background: url(../images/map_lec_large.png) no-repeat;
  width: 980px;
  height: 950px;
}

dl.map_lwc a, dl.map_lec a {
	width: 48px;
	height: 48px;
}


dl.map_lwc a.available, dl.map_lec a.available { background: url(../images/available_large.gif) no-repeat; }
dl.map_lwc a.unavailable, dl.map_lec a.unavailable { background: url(../images/in-use_large.gif) no-repeat; }
dl.map_lwc a.in-use, dl.map_lec a.in-use { background: url(../images/in-use_large.gif) no-repeat; }

/******* !LWC (West) Coordinates  ********/

/* First row across Top of map, mostly iMacs, from left to right */
dl.map_lwc a#tss-lwcmac1 { top: 50px; left: 78px; }
dl.map_lwc a#tss-lwcmac2 { top: 50px; left: 178px; }
dl.map_lwc a#tss-lwcmac3 { top: 50px; left: 356px; }
dl.map_lwc a#tss-lwcmac4 { top: 50px; left: 435px; }
dl.map_lwc a#tss-lwcmac5 { top: 50px; left: 509px; }
dl.map_lwc a#tss-lwc050 { top: 50px; left: 592px; } /* PC */
dl.map_lwc a#tss-lwc049 { top: 50px; left: 770px; } /* PC */
dl.map_lwc a#tss-lwcmac6 { top: 50px; left: 849px; }
dl.map_lwc a#tss-lwcmac7 { top: 50px; left: 927px; }
dl.map_lwc a#tss-lwcmac8 { top: 50px; left: 1006px; }
dl.map_lwc a#tss-lwcmac9 { top: 50px; left: 1184px; }
dl.map_lwc a#tss-lwcmac10 { top: 50px; left: 1284px; }

/* Scanner and UA */
/* dl.map_lwc a#tss-lwc-scanner { top: 494px; left: 1317px; } */
dl.map_lwc a#tss-lwcua { top: 240px; left: 681px; background-image: url(../images/map-app_large.gif) no-repeat;}

/* Middle Column 1 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc004 { top: 210px; left: 148px; }
dl.map_lwc a#tss-lwc003 { top: 297px; left: 148px; }
dl.map_lwc a#tss-lwc002 { top: 385px; left: 148px; }
dl.map_lwc a#tss-lwc001 { top: 472px; left: 148px; }

/* Middle Column 2 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc005 { top: 210px; left: 217px; }
dl.map_lwc a#tss-lwc006 { top: 297px; left: 217px; }
dl.map_lwc a#tss-lwc007 { top: 385px; left: 217px; }
dl.map_lwc a#tss-lwc008 { top: 472px; left: 217px; }

/* Middle Column 3 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc012 { top: 210px; left: 317px; }
dl.map_lwc a#tss-lwc011 { top: 297px; left: 317px; }
dl.map_lwc a#tss-lwc010 { top: 385px; left: 317px; }
dl.map_lwc a#tss-lwc009 { top: 472px; left: 317px; }

/* Middle Column 4 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc013 { top: 210px; left: 388px; }
dl.map_lwc a#tss-lwc014 { top: 297px; left: 388px; }
dl.map_lwc a#tss-lwc015 { top: 385px; left: 388px; }
dl.map_lwc a#tss-lwc016 { top: 472px; left: 388px; }

/* Middle Column 5 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc020 { top: 210px; left: 485px; }
dl.map_lwc a#tss-lwc019 { top: 297px; left: 485px; }
dl.map_lwc a#tss-lwc018 { top: 385px; left: 485px; }
dl.map_lwc a#tss-lwc017 { top: 472px; left: 485px; }

/* Middle Column 6 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc021 { top: 210px; left: 556px; }
dl.map_lwc a#tss-lwc022 { top: 297px; left: 556px; }
dl.map_lwc a#tss-lwc023 { top: 385px; left: 556px; }
dl.map_lwc a#tss-lwc024 { top: 472px; left: 556px; }

/* Middle Column 7 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc028 { top: 210px; left: 806px; }
dl.map_lwc a#tss-lwc027 { top: 297px; left: 806px; }
dl.map_lwc a#tss-lwc026 { top: 385px; left: 806px; }
dl.map_lwc a#tss-lwc025 { top: 472px; left: 806px; }

/* Middle Column 8 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc029 { top: 210px; left: 877px; }
dl.map_lwc a#tss-lwc030 { top: 297px; left: 877px; }
dl.map_lwc a#tss-lwc031 { top: 385px; left: 877px; }
dl.map_lwc a#tss-lwc032 { top: 472px; left: 877px; }

/* Middle Column 9 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc036 { top: 210px; left: 974px; }
dl.map_lwc a#tss-lwc035 { top: 297px; left: 974px; }
dl.map_lwc a#tss-lwc034 { top: 385px; left: 974px; }
dl.map_lwc a#tss-lwc033 { top: 472px; left: 974px; }

/* Middle Column 10 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc037 { top: 210px; left: 1045px; }
dl.map_lwc a#tss-lwc038 { top: 297px; left: 1045px; }
dl.map_lwc a#tss-lwc039 { top: 385px; left: 1045px; }
dl.map_lwc a#tss-lwc040 { top: 472px; left: 1045px; }

/* Middle Column 11 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc044 { top: 210px; left: 1145px; }
dl.map_lwc a#tss-lwc043 { top: 297px; left: 1145px; }
dl.map_lwc a#tss-lwc042 { top: 385px; left: 1145px; }
dl.map_lwc a#tss-lwc041 { top: 472px; left: 1145px; }

/* Middle Column 12 from Left side of map, Top to Bottom */
dl.map_lwc a#tss-lwc045 { top: 210px; left: 1216px; }
dl.map_lwc a#tss-lwc046 { top: 297px; left: 1216px; }
dl.map_lwc a#tss-lwc047 { top: 385px; left: 1216px; }
dl.map_lwc a#tss-lwc048 { top: 472px; left: 1216px; }

/* Horseshoe 1 from Left side of map, 
counter-clockwise from bottom right of horseshoe */
dl.map_lwc a#tss-lwc069 { top: 674px; left: 502px; }
dl.map_lwc a#tss-lwc070 { top: 614px; left: 502px; }
dl.map_lwc a#tss-lwc071 { top: 614px; left: 452px; }
dl.map_lwc a#tss-lwc072 { top: 614px; left: 400px; }
dl.map_lwc a#tss-lwc073 { top: 614px; left: 350px; }
dl.map_lwc a#tss-lwc074 { top: 674px; left: 350px; }

/* Horseshoe 2 from Left side of map, 
counter-clockwise from bottom right of horseshoe */
dl.map_lwc a#tss-lwc063 { top: 674px; left: 1012px; }
dl.map_lwc a#tss-lwc064 { top: 614px; left: 1012px; }
dl.map_lwc a#tss-lwc065 { top: 614px; left: 962px; }
dl.map_lwc a#tss-lwc066 { top: 614px; left: 910px; }
dl.map_lwc a#tss-lwc067 { top: 614px; left: 860px; }
dl.map_lwc a#tss-lwc068 { top: 674px; left: 860px; }

/* Horseshoe 3 from Left side of map, 
counter-clockwise from bottom right of horseshoe */
dl.map_lwc a#tss-lwc051 { top: 674px; left: 1330px; }
dl.map_lwc a#tss-lwc052 { top: 614px; left: 1330px; }
dl.map_lwc a#tss-lwc053 { top: 614px; left: 1280px; }
dl.map_lwc a#tss-lwc054 { top: 614px; left: 1228px; }
dl.map_lwc a#tss-lwc055 { top: 614px; left: 1178px; }
dl.map_lwc a#tss-lwc056 { top: 674px; left: 1178px; }


/******* !LEC (East) Coordinates  ********/

/* Triads 1 and 2 from the top left of the map, 
clockwise from top to bottom */
dl.map_lec a#tss-lec006 { top: 9px; left: 59px; }
dl.map_lec a#tss-lec005 { top: 90px; left: 98px; }
dl.map_lec a#tss-lec004 { top: 90px; left: 21px; }

dl.map_lec a#tss-lec003 { top: 230px; left: 98px; }
dl.map_lec a#tss-lec002 { top: 310px; left: 59px; }
dl.map_lec a#tss-lec001 { top: 230px; left: 21px; }

/* Long Table 1, top to bottom, left to right */
dl.map_lec a#tss-lec028 { top: 48px; left: 164px; }
dl.map_lec a#tss-lec019 { top: 275px; left: 164px; }

dl.map_lec a#tss-lec020 { top: 48px; left: 241px; }
dl.map_lec a#tss-lec022 { top: 275px; left: 241px; }

/* Triads 3 and 4, from the top left of the map, 
clockwise from top to bottom */
dl.map_lec a#tss-lec012 { top: 9px; left: 346px; }
dl.map_lec a#tss-lec011 { top: 90px; left: 384px; }
dl.map_lec a#tss-lec010 { top: 90px; left: 307px; }

dl.map_lec a#tss-lec009 { top: 230px; left: 384px; }
dl.map_lec a#tss-lec008 { top: 310px; left: 346px; }
dl.map_lec a#tss-lec007 { top: 230px; left: 307px; }

/* Long Table 2, left to right from Left side of map, Top to Bottom */
dl.map_lec a#tss-lec023 { top: 415px; left: 644px; }
dl.map_lec a#tss-lec024 { top: 415px; left: 873px; }

dl.map_lec a#tss-lec026 { top: 499px; left: 644px; }
dl.map_lec a#tss-lec025 { top: 499px; left: 873px; }

/* Triads 5 and 6, in bottom right of map, 
starting from the leftmost triad, counter-clockwise from bottom right */
dl.map_lec a#tss-lec013 { top: 558px; left: 696px; }
dl.map_lec a#tss-lec014 { top: 603px; left: 605px; }
dl.map_lec a#tss-lec015 { top: 642px; left: 696px; }

dl.map_lec a#tss-lec016 { top: 558px; left: 824px; }
dl.map_lec a#tss-lec017 { top: 642px; left: 824px; }
dl.map_lec a#tss-lec018 { top: 603px; left: 916px; }


/* Long Table 3, left to right from Left side of map, Top to Bottom */
/*
dl.map_lec a#tss-lec021 { top: 701px; left: 644px; }
dl.map_lec a#tss-lec027 { top: 701px; left: 873px; }

dl.map_lec a#tss-lec029 { top: 785px; left: 644px; }
dl.map_lec a#tss-lec030 { top: 785px; left: 873px; }
*/

/* Uninstalled */
/*
dl.map_lec a#tss-lec004 { top: -9999px; left: -9999px; display: none; }
dl.map_lec a#tss-lec021 { top: -9999px; left: -9999px; display: none; }
*/
